<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="./stylesheets/call.css"/>
  </head>    
  <body>
  </body>
  <form action="/alien" method="GET"><img id="top_wait" src="https://kg-alien.s3-ap-northeast-1.amazonaws.com/top.png"/><img id="top_wait_pc" src="https://kg-alien.s3-ap-northeast-1.amazonaws.com/pc%E5%AE%87%E5%AE%99%E4%BA%BA.svg"/>
    <!-- <div id="title_wait">ALIEN</div>-->
    <div class="balloon">
      <p id="wait_message">使用したいモデルを
  <br/>選択してください         
      </p>
    </div>
    <input id="roomid" type="hidden" value="" name="roomid"/>
    <input id="type" type="hidden" value="" name="type"/>
    <!-- <input type="hidden" value="" id="time" name="time">-->
    <div id="center_grid">
      <div class="grid_layout">
        <div id="character1" class="character">
          <label>
            <input type="radio" name="model" value="1" checked="" class="radio"/><img src="https://kg-alien.s3-ap-northeast-1.amazonaws.com/alien3D%E3%83%A2%E3%83%86%E3%82%99%E3%83%AB/test1_1014.png" class="radio_image"/>
          </label>
        </div>
        <div id="character2" class="character">
          <label>
            <input type="radio" name="model" value="2" class="radio"/><img src="https://kg-alien.s3-ap-northeast-1.amazonaws.com/alien3D%E3%83%A2%E3%83%86%E3%82%99%E3%83%AB/test2_1014.png" class="radio_image"/>
          </label>
        </div>
        <div id="character3" class="character">
          <label>
            <input type="radio" name="model" value="3" class="radio"/><img src="https://kg-alien.s3-ap-northeast-1.amazonaws.com/alien3D%E3%83%A2%E3%83%86%E3%82%99%E3%83%AB/test3_1014.png" class="radio_image"/>
          </label>
        </div>
        <div id="character4" class="character">
          <label>
            <input type="radio" name="model" value="4" class="radio"/><img src="https://kg-alien.s3-ap-northeast-1.amazonaws.com/alien3D%E3%83%A2%E3%83%86%E3%82%99%E3%83%AB/test4_1014.png" class="radio_image"/>
          </label>
        </div>
      </div>
    </div>
    <div id="makeroom">
      <button id="calling" type="submit">&#x901A;&#x8A71;&#x3092;&#x958B;&#x59CB;&#x3059;&#x308B;
      </button>
    </div>
  </form>  
<script src="./javascripts/Waiting.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171485531-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-171485531-1');
</script>

</html>