<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
<!--    <meta name=“viewport” content=“width=device-width, initial-scale=1"> -->
<!--    <meta name=“viewport” content=“width=device-width, initial-scale=1, user-scalable=no, maximum-scale=0.35, minimum-scale=0.35">-->
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel="stylesheet">
  </head>
  <body>
    <!--3Dモデル読み込み-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r123/three.min.js"></script>
    <script src="./javascripts/OBJLoader.js"></script>
    <script src="./javascripts/MTLLoader.js"></script>
    <script src="./javascripts/index3D.js"></script>
    <!-- Loading -->
    <p id="load_message">
      LOADING...
    </p>
    <p id="loading_message">
      通話が開始されるまでお待ちください...
    </p>
    <div id="BG"></div>

    <div class="container">
      <div id="remote-streams">
        <div id="js-remote-streams"></div>
      </div>
      <!-- ルーム検索 -->
      <div class="button-center">
        <span id="js-room-mode"></span>
        <!-- ボタン -->
        <button id="js-reload-trigger" class="btn">
          <span class="pop">りろーど</span>
        </button>
        <button id="change" class="btn">
          <span class="pop">きゃらきりかえ</span>
        </button>
        <button id="js-toggle-microphone" class="btn" data-toggle="tooltip" data-html="true" title="ミュート">
          <span class="pop">みゅーと</span>
        </button>
        <button id="js-toggle-speaker" class="btn">
          <span class="pop">すぴーかーきりかえ</span>
        </button>
        <button id="js-toggle-camera" class="btn">
          <span class="pop">かめらきりかえ</span>
        </button>
        <button id="js-share-trigger" class="btn">
          <span class="pop">きょうゆう</span>
        </button>
        <button id="js-leave-trigger" class="btn">
          <span class="pop">たいしゅつ</span>
        </button>
      </div>
      <video class="local-video" id="js-local-stream" style="transform: scaleX(-1);"></video>
    </div> <!-- container -->
    <!-- threevrm関連 -->
    <script src="https://unpkg.com/three@0.108"></script>
    <script src="https://unpkg.com/three@0.108/examples/js/loaders/GLTFLoader.js"></script>
    <script src="https://unpkg.com/@pixiv/three-vrm@0.1/lib/three-vrm.js"></script>
    <script src="../javascripts/jeelizFaceFilter.js"></script>
    <script src="../javascripts/JeelizResizer.js"></script>
    <script src="../javascripts/threevrm.js"></script>
    <!-- jquery関連 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- skyway関連 -->
    <script src="//cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
    <script src="../key.js"></script>
    <script src="../javascripts/SharedUrl.js"></script>
    <script src="../javascripts/Loading.js"></script>
    <script src="../javascripts/script.js"></script>
    <script async = "" src="https://www.googletagmanager.com/gtag/js?id=UA-171485531-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-171485531-1');
    </script>
  </body>
</html>