//- html(lang='ja')
//- link(rel='stylesheet', type='text/css', href='./stylesheets/HP.css')
//- link(href='https://fonts.googleapis.com/css2?family=Megrim&display=swap', rel='stylesheet')
//- head
//- meta(charset='UTF-8')
//- |   
//- meta(name='viewport', content='width=device-width, initial-scale=1.0')
//- |   
//- meta(http-equiv='X-UA-Compatible', content='ie=edge')
//- |   
//- title ALIEN
//- body
//- img#top_id(src='https://kg-alien.s3-ap-northeast-1.amazonaws.com/top.png')
//- br
//- |     
//- #title_id ALIEN
//- |     
//- #cipher_id
//-     | ALIEN&#x7E3A;&#xFF68;&#x7E3A;&#xFF6F;&#x7E32;?&#xFF61;&#x6590;&#xFF52;&#x8B4F;?&#x7E3A;&#x52B1;&#x25C6;&#x7E3A;&#x4E0A;&uarr;&#x7E3A;?&#xFFE0;&#x7E3A;&#xFF69;&#x7E67;&#xFF6A;&#x7E5D;&#xFF73;&#x7E5D;&#xFF69;&#x7E67;&#xFF64;&#x7E5D;&#xFF73;&#x7E5D;&#x8599;&#x30E7;&#x7E67;&#xFF6A;&#x83A8;&#x590A;&#xFF6D;&#xFF70;&#x7E3A;&#x5F8C;&#xFF20;&#x7E3A;&#x6E98;&#xFF1E;
//-     | &#x83A0;&#xFF7A;&#x8737;&#x4EE3;&#xFFE0;&#x7E3A;&#xFF6E;&#x7E67;&#xFF75;&#x7E5D;&#xFF7C;&#x7E5D;&#x8599;&#x305B;&#x7E3A;&#xFF6B;&#x7E3A;&#xFF6A;&#x7E67;&#x7FEB;&cup;&#x7E3A;&#x5436;?&#x3085;&#x3044;&#x7E5D;&#x52B1;&Mu;&#x7E67;&#x5243;&#xFF7D;&#xFF7F;&#x9015;&#xFF68;&#x7E3A;&#x5E19;&starf;&#x7E32;&Sqrt;&#x30F6;&#x7E5D;&#xFF69;&#x7E67;&#xFF66;&#x7E67;&#xFF76;&#x7E3A;&#xFF6E;&#x7E3A;&#xFF7F;
//-     | &#x7E3A;&#xFF67;&#x8703;&#xFF7A;&#x8B5A;&#xFF65;&#x7E67;&#x4E5D;?&#x7E3A;&#xFF67;&#x7E32;&Sqrt;&female;&#x8B07;&#x7396;&#xFF7B;&#xFF7D;&#x7E3A;&#xFF6B;&#x87CB;&#x4E5D;&#xFF41;&#x7E67;&#x5F8C;&cup;&#x7E3A;
//- |     
//- #composite_id
//-     | &#xFF08;&#x548C;&#x8A33;&#xFF1A;ALIEN&#x3068;&#x306F;&#x3001;&#x9854;&#x3092;&#x6620;&#x3057;&#x305F;&#x304F;&#x306A;&#x3044;&#x3051;&#x3069;&#x30AA;&#x30F3;&#x30E9;&#x30A4;&#x30F3;&#x30D3;&#x30C7;&#x30AA;&#x4F1A;&#x8B70;&#x304C;&#x3057;&#x305F;&#x3044;&#x4EBA;&#x5411;&#x3051;&#x306E;&#x30B5;&#x30FC;&#x30D3;&#x30B9;&#x306B;&#x306A;&#x308A;&#x307E;&#x3059;&#x3002;
//-     | &#x30A2;&#x30D7;&#x30EA;&#x3092;&#x4F7F;&#x7528;&#x305B;&#x305A;&#x3001;&#x30D6;&#x30E9;&#x30A6;&#x30B6;&#x306E;&#x307F;&#x3067;&#x51FA;&#x6765;&#x308B;&#x306E;&#x3067;&#x3001;&#x304A;&#x624B;&#x8EFD;&#x306B;&#x59CB;&#x3081;&#x308C;&#x307E;&#x3059;&#xFF09;
//- // ヘルプボタンの実装が入る
//- // ↓アクションのところに遷移先
//- p &#x90E8;&#x5C4B;&#x540D;
//- |         
//- input#room(type='text', name='room', placeholder='宇宙船')
//- |     
//- form(action='/waiting', method='GET')
//-     input#roomid(type='hidden', name='roomid')
//-     p 3D&#x5C11;&#x5973;&#x304B;&#x30DE;&#x30B9;&#x30AF;&#x304B;&#x9078;&#x3093;&#x3067;&#x304F;&#x3060;&#x3055;&#x3044;&#x3002;
//-     |             
//-     #radio_ra
//-     input#r1(type='radio', name='type', value='babiniku', checked='')
//-     |             
//-     label(for='babiniku') &#x5C11;&#x5973;
//-     |             
//-     input#r2(type='radio', name='type', value='mask')
//-     |             
//-     label(for='mask') &#x30DE;&#x30B9;&#x30AF;
//-     |         
//-     #makeroom
//-     button#room_make(type='submit') &#x90E8;&#x5C4B;&#x3092;&#x3064;&#x304F;&#x308B;
//-     |         
//-     div
//-     script(src='./javascripts/HP.js')

doctype html
html(lang='ja')
  head
    link(rel='stylesheet', type='text/css', href='./stylesheets/HP.css')
    link(href='https://fonts.googleapis.com/css2?family=Megrim&display=swap', rel='stylesheet')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title ALIEN
  body
    img#top_id(src='https://kg-alien.s3-ap-northeast-1.amazonaws.com/top.png')
    br
    #title_id ALIEN
    #cipher_id
      | ALIEN縺ｨ縺ｯ縲?｡斐ｒ譏?縺励◆縺上↑縺?￠縺ｩ繧ｪ繝ｳ繝ｩ繧､繝ｳ繝薙ョ繧ｪ莨夊ｭｰ縺後＠縺溘＞
      | 莠ｺ蜷代￠縺ｮ繧ｵ繝ｼ繝薙せ縺ｫ縺ｪ繧翫∪縺吶?ゅい繝励Μ繧剃ｽｿ逕ｨ縺帙★縲√ヶ繝ｩ繧ｦ繧ｶ縺ｮ縺ｿ
      | 縺ｧ蜃ｺ譚･繧九?縺ｧ縲√♀謇玖ｻｽ縺ｫ蟋九ａ繧後∪縺
    #composite_id
      | （和訳：ALIENとは、顔を映したくないけどオンラインビデオ会議がしたい人向けのサービスになります。
      | アプリを使用せず、ブラウザのみで出来るので、お手軽に始めれます）
    // ヘルプボタンの実装が入る
    // ↓アクションのところに遷移先
    p 部屋名
    input#room(type='text', name='room', placeholder='宇宙船')
    form(action='/waiting', method='GET')
      input#roomid(type='hidden', name='roomid')
      //
        <p>制限時間</p>
        <div id="radio_id">
        <input type="radio" name="time" id="r1" value="0" checked="">
        <label for="r1">無制限</label>
        <input type="radio" name="time" id="r2" value="30" >
        <label for="r2">30分</label>
        <input type="radio" name="time" id="r3" value="60" >
        <label for="r3">1時間</label>
        <input type="radio" name="time" id="r4" value="120" >
        <label for="r4">2時間</label>
        <input type="radio" name="time" id="r5" value="180" >
        <label for="r5">3時間</label>
        </div>
        <p>3D少女かマスクか選んでください。</p>
        <div id="radio_ra">
        <input type="radio" name="type" id="r1" value="babiniku" checked="">
        <label for="babiniku">少女</label>
        <input type="radio" name="type" id="r2" value="mask" >
        <label for="mask">マスク</label>
        </div>
      #makeroom
        button#room_make(type='submit') 部屋をつくる
      div
        script(src='./javascripts/HP.js')
