html(lang='en')
head
  meta(charset='UTF-8')
  // <meta name="viewport" content="width=device-width, initial-scale=1">
  meta(name='viewport', content='width=device-width, user-scalable=no')
  |     
  link(rel='stylesheet', href='./stylesheets/style.css')
  link(href='https://fonts.googleapis.com/css2?family=Megrim&display=swap', rel='stylesheet')

  |   
  body
    // Loading
    #loader-bg
      #loader
        img(src='https://kg-alien.s3-ap-northeast-1.amazonaws.com/lod2.gif', width='80', height='80', alt='Now Loading...')
        |         
        p Now Loading...
    // オーバーレイ
    #js-join-trigger.overlay-all
      img#top_wait(src='https://kg-alien.s3-ap-northeast-1.amazonaws.com/pc%E5%AE%87%E5%AE%99%E4%BA%BA.svg')
      br
      |       
      #title_wait ALIEN
      |       
      p#wait_message Tap to start video call
    |   
    .container
      .remote-streams
        #js-remote-streams
        
      // ルーム検索
      div(class = "button-center")
        span#js-room-mode
        // ルームに接続
        button#change.alien-btn  
        button#js-toggle-microphone.mic-btn
        button#js-toggle-speaker.speaker-btn           
        button#js-toggle-camera.camera-btn          
        button#js-share-trigger.share-btn         
        button#js-leave-trigger.leave-btn    
      video#js-local-stream.local-video(style='transform: scaleX(-1);height: 0vh;visibility: hidden;')
      // container
      // threevrm関連
      script(src='https://unpkg.com/three@0.108')
      |     
      script(src='https://unpkg.com/three@0.108/examples/js/loaders/GLTFLoader.js')
      |     
      script(src='https://unpkg.com/@pixiv/three-vrm@0.1/lib/three-vrm.js')
      |     
      script(src='./javascripts/jeelizFaceFilter.js')
      |     
      script(src='./javascripts/JeelizResizer.js')
      |     
      script(src='./javascripts/threevrm.js')
      // マスク関連
      script(src='./javascripts/mask.js')
      // jquery関連
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
      // skyway関連
      script(src='//cdn.webrtc.ecl.ntt.com/skyway-latest.js')
      |     
      script(src='./key.js')
      |     
      script(src='./javascripts/SharedUrl.js')
      |     
      script(src='./javascripts/Loading.js')
      |     
      script(src='./javascripts/Overlayout.js')
      |     
      script(src='./javascripts/script.js')
      |     
      .btn_div
        // <button id="test1">時間</button>
      //
        <script>
        document.getElementById('test1').onclick=function(){
        }
        window.onload = function(){
        var params = window.location.search;
        var element = params.split('&');
        var getparams = [];
        for(var i = 0;i <element.length; i++){
        var low = element[i].split('=');
        getparams.push(low[1]);
        }
        const hi = new Date();
        hi.setMinutes(hi.getMinutes()+getparams[1]);
        var butobj = document.getElementById('test1');
        butobj.innerHTML = hi.toLocaleString();
        }
        </script>
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-171485531-1')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-171485531-1');
