/* normalize */
body {
   margin: 0; 
   background-color: #3B1D70;
  }

/* global styles */
video {
  background-color: #111;
  width: 100%;
}

.heading {
  text-align: center;
  margin-bottom: 0;
}

.note {
  text-align: center;
}

.meta {
  text-align: center;
  font-size: .8rem;
  color: gray;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

/* p2p-media styles */
.p2p-media {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* 相手 */
.p2p-media .remote-stream {
  width: 50%;
}
/* 自分 */
.p2p-media .local-stream {
  width: 30%;
}

/* p2p-data styles */
.p2p-data {
  display: grid;
  grid-template-columns: 30% 1fr;
  margin: 0 8px;
}

.p2p-data .messages {
  background-color: #eee;
  min-height: 100px;
  padding: 8px;
  margin-top: 0;
}
/*
.room {
  display: grid;
  grid-template-columns: 60% 80% 60%;
  gap: 8px;
  margin: 0 8px;
}
*/

/* 相手のビデオ画面変更 */
.room .remote-streams {
  background-color: #f6fbff;
  border: solid;
  border-color: #031de2;
}

.room .messages {
  background-color: #eee;
  min-height: 100px;
  padding: 8px;
  margin-top: 0;
}

/* HTMLのコンテナ*/

/*
 .room {
  display: grid;
  grid-template-rows: 100px 50px;
  grid-template-columns: 150px 1fr;
}
*/
/*人数変更*/
.remote-streams {
  display: grid;
  /* ここいじれ */
  grid-template-columns: 1fr 1fr;
  /* ここいじれ */
  grid-template-rows: 1fr 1fr;
}

/*
#local-video {
  grid-row: 1; grid-column: 1;
}
#js-remote-streams0 {
  grid-row: 1; grid-column: 2;
}
#js-remote-streams1 {
  grid-row: 2; grid-column: 2;
}
#js-remote-streams2 {
  grid-row: 2; grid-column: 1;
}
*/



/* スマホ写した時 */
@media screen and (max-width: 380px){
  .room {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    gap: 8px;
    margin: 0 8px;
    border-color: #031de2;
  }
}