#centerImg{
    text-align: center;
}

img#top_id{
    width: auto;
    height: auto;
    display: block;
    margin:auto;
    margin-top: 20%;
}

img#top_id_pc{
    display: none;
}

#title_id{
    font-family: 'Megrim', cursive;
    font-size: 50px;
    font-style: normal;
    color: #DB560E;
    text-align: center;
}

body {
    background-color: #3B1D70;
    background-image: url(https://kg-alien.s3-ap-northeast-1.amazonaws.com/%E8%83%8C%E6%99%AF%E7%94%A8%E5%AE%87%E5%AE%99%E4%BA%BA.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: auto 100%;
    color: white;
}

#composite_id{
    /*normalは単語の途中で改行しない*/
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    word-break: normal;
    color: white;
    font-size: 20px;
}

input#name_id{
    border-radius: 7px;
}


#radio_id input[type="radio"]{
    width: 20px;        /* 大きさ：横 */
    height: 20px;        /* 大きさ：縦 */
    text-align: center;        /* 並び位置   */
    display: none;        /* チェックボックス非表示 */
}
 /* --- チェックボックス直後のlabel --- */
 #radio_id{
    display:table;
 }
 #radio_id input[type="radio"] + label {
    text-align: center;
    display: table-cell;
    vertical-align: middle;

    float: left;
    width: 60px;
    padding: 4px 4px 4px 4px;                      /* labelの余白 */
    font-size: 14px;                       /* labelの文字サイズ */
    border: 1px solid #DB560E; /* labelの枠線 */
    border-radius: 15px;                        /* labelの角丸 */
    background: #ffffff;                    /* lebelの背景 */
    cursor: pointer;                    /* カーソル設定 */
    transition: .2s;                        /* なめらか変化 */
}
 /* --- 選択されたチェックボックス直後のlabel --- */
#radio_id input[type="radio"]:checked + label {
    background    : #DB560E;                    /* lebelの背景 */
}

#makeroom{
    text-align:center;
}
button#room_make{
    position: relative;
    display: inline-block;
    /* ボタン */
    width: 298px;
    height: 40px;

    /* margin: 20px; */
    margin-top: 15%;
    background: #DB560E;
    border-radius: 20px;

    /* 文字 */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #E5E5E5;
    text-decoration: none;
    font-weight: bold;

}

#room_make:active{
    transform: translateY(4px);
    border-bottom: none;
}

p{
    color: white;
}

label {
    position: absolute;
    top: 0;
    font-size: 15px;
    color: #cecece;
    margin: 10px;
    padding: 0 10px;
    background-color: #3B1D70;
    -webkit-transition: top .2s ease-in-out, 
                        font-size .2s ease-in-out;
    transition: top .2s ease-in-out, 
                font-size .2s ease-in-out;
}

input[type=text] {
    width: 90%;
    padding: 10px;
    border: 1px solid white;
    font-size: 20px;
    background-color:rgba(59,29,112,50);
    color: white;
} 

input[type=text]:focus {
    outline: none;
}

.active {
    top: -25px;
    font-size: 15px;
}

.wrap {
    width: 80%;
    position: relative;
    margin-top: 10%;
    margin-left: 10%;
    vertical-align: middle;
}

@media screen and (max-height: 667px){
    img#top_id{
        margin-top: 5%;
    }

    #composite_id{
        margin-top: 5%;
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    #composite_id{
        font-size: 32px;
    }

    button#room_make{
        margin-top: 5%;
        width: 400px;
        height: 70px;
        font-size: 28px;
    }

    label {
        font-size: 28px;
    }

    input[type=text]{
        padding: 20px;
    }

    .active{
        font-size: 28px;
        top: -35px;
    }

    #title_id{
        font-size: 100px;
    }
}

@media screen and (min-width: 1366px){

    #centerImg{
        text-align: center;
    }
    img#top_id{
        display: none;
    }

    img#top_id_pc{
        display: block;
        width: auto;
        height: 400px;
        margin : 0 auto;
        margin-top: 10vh;
    }

    #title_id{
        margin-top: 5vh;
        font-size: 80px;
    }

    body{
        background-position: right bottom;
    }

    .balloon{
        display: inline-block;
        position: absolute; 
        top: 10%;
        right: 70%;
        left: 5%;
        padding: 17px 13px;
        border-radius: 12px;
        background:white;
    }

    .balloon::before{
        content: "";
        position: absolute;
        top: 80%;
        right: -24px;
        margin-top: -12px;
        border: 12px solid transparent;
        border-left: 12px solid white;
        z-index: 2;
    }

    #composite_id{
        margin-top: 0%;
        padding-left: 0%;
        padding-right: 0%;
        color: black;
    }

    .wrap{
        text-align: center;
        margin-top: 5vh;
    }

    input[type=text] {
        width: 30%;
    }

    button#room_make{
        margin-top: 2vh;
    }
}