#centerImg{
    text-align: center;
}

img#top_id{
    width: auto;
    height: 15vh;
    display: block;
    margin:auto;
    margin-top: 5vh;
}

img#top_id_pc{
    display: none;
}

#title_id{
    font-family: 'Megrim', cursive;
    font-size: 7vh;
    font-style: normal;
    color: #DB560E;
    text-align: center;
}

body {
    background-color: #3B1D70;
    background-image: url(https://kg-alien.s3-ap-northeast-1.amazonaws.com/%E8%83%8C%E6%99%AF%E7%94%A8%E5%AE%87%E5%AE%99%E4%BA%BA.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: auto 100%;
    color: white;
}

#composite_id{
    /*normalは単語の途中で改行しない*/
    margin-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    word-break: normal;
    color: white;
    font-size: 2.5vh;
}

input#name_id{
    border-radius: 7px;
}


#radio_id input[type="radio"]{
    width: 10vw;        /* 大きさ：横 */
    height: 20vh;        /* 大きさ：縦 */
    text-align: center;        /* 並び位置   */
    display: none;        /* チェックボックス非表示 */
}
 /* --- チェックボックス直後のlabel --- */
 #radio_id{
    display:table;
 }
 #radio_id input[type="radio"] + label {
    text-align: center;
    display: table-cell;
    vertical-align: middle;

    float: left;
    width: 30vw;
    padding: 1vh 1vw;                      /* labelの余白 */
    font-size: 3vh;                       /* labelの文字サイズ */
    border: 1px solid #DB560E; /* labelの枠線 */
    border-radius: 15px;                        /* labelの角丸 */
    background: #ffffff;                    /* lebelの背景 */
    cursor: pointer;                    /* カーソル設定 */
    transition: .2s;                        /* なめらか変化 */
}
 /* --- 選択されたチェックボックス直後のlabel --- */
#radio_id input[type="radio"]:checked + label {
    background    : #DB560E;                    /* lebelの背景 */
}

#makeroom{
    text-align:center;
}
button#room_make{
    position: relative;
    display: inline-block;
    /* ボタン */
    width: 40vw;
    height: 5vh;
    /* width: 298px;
    height: 40px; */

    /* margin: 20px; */
    margin-top: 5vh;
    background: #DB560E;
    border-radius: 20px;

    /* 文字 */
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vh;
    line-height: 16px;

    color: #E5E5E5;
    text-decoration: none;
    font-weight: bold;

}

#room_make:active{
    transform: translateY(4px);
    border-bottom: none;
}

p{
    color: white;
}

label {
    position: absolute;
    top: 0;
    font-size: 2vh;
    color: #cecece;
    margin-top: 1vh;
    margin-left: 1vw;
    padding: 0 1vw;
    background-color: #3B1D70;
    -webkit-transition: top .2s ease-in-out, 
                        font-size .2s ease-in-out;
    transition: top .2s ease-in-out, 
                font-size .2s ease-in-out;
}

input[type=text] {
    padding: 1vh 1vw;
    border: 1px solid white;
    font-size: 3vh;
    background-color:rgba(59,29,112,50);
    color: white;
} 

input[type=text]:focus {
    outline: none;
}

.active {
    top: -3vh;
    font-size: 2vh;
}

.wrap {
    width: 80%;
    position: relative;
    margin-top: 5vh;
    margin-left: 10vw;
    vertical-align: middle;
    text-align: center;
}

@media screen and (min-width: 481px){

    img#top_id{
        display: none;
    }

    img#top_id_pc{
        display: block;
        width: auto;
        height: 20vh;
        margin : 0 auto;
        margin-top: 5vh;
    }

    #composite_id{
        font-size: 3vh;
    }

    #title_id{
        font-size: 10vh;
    }
}

@media screen and (min-width: 960px){

    #centerImg{
        text-align: center;
    }
    img#top_id{
        display: none;
    }

    img#top_id_pc{
        display: block;
        width: auto;
        height: 30vh;
        margin : 0 auto;
        margin-top: 10vh;
    }

    #composite_id{
        font-size: 3vh;
    }

    #title_id{
        margin-top: 5vh;
        font-size: 10vh;
    }

    body{
        background-position: right bottom;
    }

    .balloon{
        display: inline-block;
        position: absolute; 
        top: 10vh;
        right: 62vw;
        left: 5vw;
        padding: 2vh 2vw;
        border-radius: 2vh;
        background:white;
    }

    .balloon::before{
        content: "";
        position: absolute;
        top: 50%;
        right: -24px;
        margin-top: -5vh;
        border: 12px solid transparent;
        border-left: 12px solid white;
        z-index: 2;
    }

    #composite_id{
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
        color: black;
    }

    .wrap{
        text-align: center;
        margin-top: 5vh;
    }

    input[type=text] {
        width: 15vw;
    }

    button#room_make{
        margin-top: 10vh;
    }
}