/* normalize */
body {
   margin: 0; 
  }

/* global styles */
video {
  background-color: #111;
  width: 100%;
}

.heading {
  text-align: center;
  margin-bottom: 0;
}

.note {
  text-align: center;
}

.meta {
  text-align: center;
  font-size: .8rem;
  color: gray;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

/* p2p-media styles */
.p2p-media {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* 相手 */
.p2p-media .remote-stream {
  width: 50%;
}
/* 自分 */
.p2p-media .local-stream {
  width: 30%;
}

/* p2p-data styles */
.p2p-data {
  display: grid;
  grid-template-columns: 30% 1fr;
  margin: 0 8px;
}

.p2p-data .messages {
  background-color: #eee;
  min-height: 100px;
  padding: 8px;
  margin-top: 0;
}
/*
.room {
  display: grid;
  grid-template-columns: 60% 80% 60%;
  gap: 8px;
  margin: 0 8px;
}
*/

/* 相手のビデオ画面変更 */
.room .remote-streams {
  background-color: #f6fbff;
  border: solid;
  background-color: #3B1D70;
  border-color: #f6fbff;
}

.room .messages {
  background-color: #eee;
  min-height: 100px;
  padding: 8px;
  margin-top: 0;
}

/* HTMLのコンテナ*/

/*
 .room {
  display: grid;
  grid-template-rows: 100px 50px;
  grid-template-columns: 150px 1fr;
}
*/
/*人数変更*/
.remote-streams {
  display: grid;
  /* ここいじれ */
  grid-template-columns: 1fr 1fr;
  /* ここいじれ */
  grid-template-rows: 1fr 1fr;
  border: solid;
  border-color: #031de2;
  background-color: #3B1D70;
}

/*
#local-video {
  grid-row: 1; grid-column: 1;
}
#js-remote-streams0 {
  grid-row: 1; grid-column: 2;
}
#js-remote-streams1 {
  grid-row: 2; grid-column: 2;
}
#js-remote-streams2 {
  grid-row: 2; grid-column: 1;
}
*/

.camera-btn{
  display: inline-block;
  text-decoration: none;
  background: #3B1D70;
  color: #FFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}
.camera-btn:hover{
  background: #3B1D70;
}

.mic-btn{
  display: inline-block;
  text-decoration: none;
  background: #3B1D70;
  color: #FFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}
.mic-btn{
  background: #3B1D70;
}

/* スマホ写した時 */
@media screen and (max-width: 380px){
  .room {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    gap: 8px;
    margin: 0 8px;
    background-color: #3B1D70;
  }
}

/* オーバーレイ */
.overlay-all {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  z-index: 100;
  background: #3B1D70;
}

img#top_wait{
  width: auto;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 100px;
  
}

div#title_wait{
  font-family: 'Megrim', cursive;
  font-size: 50px;
  font-style: normal;
  color: #DB560E;
  text-align: center;
}

p#wait_message{
  text-align: center;
  color: #e5e5e5;
  margin-top: 100px;
}
