/* normalize */
body {
   margin: 0; 
   background-color: #FFFFFF;
   background-image: url('');
}

video {
  object-fit: unset;
  border-radius: 10px;
}

#js-local-stream{
  visibility: hidden;
  width: 0vw;
  height: 0vh;
  margin: 7.5vh;
}

/* 時間設定デザイン  時間延長関連のコード*/
.btn_div{
  position: absolute;
  top: 103vh;
  bottom: 100vh;
  width: 76vw;
  text-align: center;
}
/* 時間設定デザイン */
button#test1 {
  margin: auto;
  width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
	border:1px solid #1B1B1B;
}
/* 時間設定デザイン */
button#test1:hover {
  background: #1B1B1B;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

/* Loading */
#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  z-index: 101;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 102;
}

#js-remote-streams{
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 40vw 40vw;
  grid-auto-rows: 40vh;
  column-gap: 2vh;
  row-gap: 2vh;
  justify-content: center;
}

/*人数変更*/
#remote-streams {
  margin-top: 5vh;
  width: 100vw;
  height: 80vh;
  
}

#canvas2{
  grid-row: 1;
  grid-column: 1;
}

#js-toggle-camera{
  display: inline-block;
  text-decoration: none;
  background-color: #FFFFFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}
#js-toggle-camera:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("https://kg-alien.s3-ap-northeast-1.amazonaws.com/alien%E3%83%9B%E3%82%99%E3%82%BF%E3%83%B3/%E3%83%92%E3%82%99%E3%83%86%E3%82%99%E3%82%AA%E3%82%AA%E3%83%B3.svg") no-repeat;
  background-size: contain;
  vertical-align: middle;
}
#js-toggle-camera:hover{
  background: #ffffff;
}

#js-toggle-camera_OFF{
  display: inline-block;
  text-decoration: none;
  background: #E26522;
  background-color: #FFFFFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}
#js-toggle-camera_OFF:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("https://kg-alien.s3-ap-northeast-1.amazonaws.com/alien%E3%83%9B%E3%82%99%E3%82%BF%E3%83%B3/%E3%83%92%E3%82%99%E3%83%86%E3%82%99%E3%82%AA%E3%82%AA%E3%83%95.svg") no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-left: 4px;
  margin-top: 4px;
}
#js-toggle-camera_OFF:hover{
  background: #E26522;
}

#js-toggle-microphone{
  display: inline-block;
  text-decoration: none;
  background-color: #FFFFFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}
#js-toggle-microphone:hover{
  background: #ffffff;
}
#js-toggle-microphone:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("https://kg-alien.s3-ap-northeast-1.amazonaws.com/alien%E3%83%9B%E3%82%99%E3%82%BF%E3%83%B3/%E3%83%9E%E3%82%A4%E3%82%AF%E3%82%AA%E3%83%B3.svg") no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-left: 10px;
}

#js-toggle-microphone_OFF{
  display: inline-block;
  text-decoration: none;
  background: #E26522;
  background-color: #FFFFFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}
#js-toggle-microphone_OFF:hover{
  background: #E26522;
}
#js-toggle-microphone_OFF:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("https://kg-alien.s3-ap-northeast-1.amazonaws.com/alien%E3%83%9B%E3%82%99%E3%82%BF%E3%83%B3/%E3%83%9E%E3%82%A4%E3%82%AF%E3%82%AA%E3%83%95.svg") no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-left: 4px;
  margin-top: 2px;
}

#js-leave-trigger{
  display: inline-block;
  text-decoration: none;
  background: #FF0404;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}
#js-leave-trigger:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("https://kg-alien.s3-ap-northeast-1.amazonaws.com/alien%E3%83%9B%E3%82%99%E3%82%BF%E3%83%B3/%E9%80%9A%E8%A9%B1%E3%82%AA%E3%83%95.svg") no-repeat;
  background-size: contain;
  vertical-align: middle;
}

#js-share-trigger{
  display: inline-block;
  text-decoration: none;
  background-color: #FFFFFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}
#js-share-trigger:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("https://kg-alien.s3-ap-northeast-1.amazonaws.com/alien%E3%83%9B%E3%82%99%E3%82%BF%E3%83%B3/%E5%85%B1%E6%9C%89.svg") no-repeat;
  background-size: contain;
  vertical-align: middle;
}
#js-share-trigger:hover{
  background: #FFFFFF;
}

/*エイリアンボタンオンオフ実装予定(次サイクル)*/

#change{
  display: inline-block;
  text-decoration: none;
  background: orange;
  background-color: #FFFFFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}
#change:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("https://kg-alien.s3-ap-northeast-1.amazonaws.com/alien%E3%83%9B%E3%82%99%E3%82%BF%E3%83%B3/%E3%82%A8%E3%82%A4%E3%83%AA%E3%82%A2%E3%83%B3%E3%82%AA%E3%83%95.svg") no-repeat;
  background-size: contain;
  vertical-align: middle;
}
#change_changing{
  background: #ffffff;
  text-decoration: none;
  color: #FFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}
#change_changing:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("https://kg-alien.s3-ap-northeast-1.amazonaws.com/alien%E3%83%9B%E3%82%99%E3%82%BF%E3%83%B3/%E3%82%A8%E3%82%A4%E3%83%AA%E3%82%A2%E3%83%B3%E3%82%AA%E3%83%B3.svg") no-repeat;
  background-size: contain;
  vertical-align: middle;
}
/* スピーカーボタン */
#js-toggle-speaker{
  display: inline-block;
  text-decoration: none;
  background-color: #FFFFFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}
#js-toggle-speaker:hover{
  background: #ffffff;
}
#js-toggle-speaker:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("https://kg-alien.s3-ap-northeast-1.amazonaws.com/alien%E3%83%9B%E3%82%99%E3%82%BF%E3%83%B3/%E3%82%B9%E3%83%92%E3%82%9A%E3%83%BC%E3%82%AB%E3%83%BC%E3%82%AA%E3%83%B3.svg") no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-left: 5px;
  margin-top: 4px;
}

#js-toggle-speaker_OFF{
  display: inline-block;
  text-decoration: none;
  background: #E26522;
  color: #FFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}
#js-toggle-speaker_OFF:hover{
  background: #E26522;
}
#js-toggle-speaker_OFF:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("https://kg-alien.s3-ap-northeast-1.amazonaws.com/alien%E3%83%9B%E3%82%99%E3%82%BF%E3%83%B3/%E3%82%B9%E3%83%92%E3%82%9A%E3%83%BC%E3%82%AB%E3%83%BC%E3%82%AA%E3%83%95.svg") no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-left: 4px;
  margin-top: 4px;
}
#js-reload-trigger{
  display: inline-block;
  text-decoration: none;
  background: #22e2a2;
  color: #FFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}
#js-reload-trigger:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("https://kg-alien.s3-ap-northeast-1.amazonaws.com/alien%E3%83%9B%E3%82%99%E3%82%BF%E3%83%B3/%E3%83%AA%E3%83%AD%E3%83%BC%E3%83%88%E3%82%99.svg") no-repeat;
  background-size: contain;
  vertical-align: middle;
}

.canvas2_cover{
  filter: brightness(0%);
}

.button-center{
  width: 100vw;
  text-align: right;
  position: absolute;
}


/* スタブレット写した時 */
@media screen and (max-width: 959px){
  /* 相手のビデオ画面変更 */
  #js-toggle-camera{
    width: 60px;
    height: 60px;
  }
  #js-toggle-camera:before {
    width: 25px;
    height: 25px;
  }

  #js-toggle-camera_OFF{
    width: 60px;
    height: 60px;
  }
  #js-toggle-camera_OFF:before {
    width: 25px;
    height: 25px;
    margin-left: 4px;
    margin-top: 4px;
  }

  #js-toggle-microphone{
    width: 60px;
    height: 60px;
  }

  #js-toggle-microphone:before {
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }

  #js-toggle-microphone_OFF{
    width: 60px;
    height: 60px;
  }

  #js-toggle-microphone_OFF:before {
    width: 25px;
    height: 25px;
    margin-left: 4px;
    margin-top: 2px;
  }

  #change{
    width: 60px;
    height: 60px;
  }
  #change:before {
    width: 25px;
    height: 25px;
  }
  #change_changing{
    width: 60px;
    height: 60px;
  }
  #change_changing:before {
    width: 25px;
    height: 25px;
  }

  #js-leave-trigger{
    width: 60px;
    height: 60px;
  }
  #js-leave-trigger:before {
    width: 25px;
    height: 25px;
  }

  #js-share-trigger{
    width: 60px;
    height: 60px;
  }
  #js-share-trigger:before {
    width: 25px;
    height: 25px;
  }

  #js-toggle-speaker{
    width: 60px;
    height: 60px;
  }

  #js-toggle-speaker:before {
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-top: 4px;
  }

  #js-toggle-speaker_OFF{
    width: 60px;
    height: 60px;
  }

  #js-toggle-speaker_OFF:before {
    width: 25px;
    height: 25px;
    margin-left: 4px;
    margin-top: 4px;
  }

  #js-reload-trigger{
    width: 60px;
    height: 60px;
  }
}

/* スマホ写した時 */
@media screen and (max-width: 480px){
  /* 相手のビデオ画面変更 */
  #js-toggle-camera{
    width: 55px;
    height: 55px;
  }
  #js-toggle-camera:before {
    width: 25px;
    height: 25px;
  }

  #js-toggle-camera_OFF{
    width: 55px;
    height: 55px;
  }
  #js-toggle-camera_OFF:before {
    width: 25px;
    height: 25px;
    margin-left: 4px;
    margin-top: 4px;
  }

  #js-toggle-microphone{
    width: 55px;
    height: 55px;
  }

  #js-toggle-microphone:before {
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }

  #js-toggle-microphone_OFF{
    width: 55px;
    height: 55px;
  }

  #js-toggle-microphone_OFF:before {
    width: 25px;
    height: 25px;
    margin-left: 4px;
    margin-top: 2px;
  }

  #change{
    width: 60px;
    height: 60px;
  }
  #change:before {
    width: 25px;
    height: 25px;
  }
  #change_changing{
    width: 60px;
    height: 60px;
  }
  #change_changing:before {
    width: 25px;
    height: 25px;
  }

  #js-leave-trigger{
    width: 55px;
    height: 55px;
  }
  #js-leave-trigger:before {
    width: 25px;
    height: 25px;
  }

  #js-share-trigger{
    width: 55px;
    height: 55px;
  }
  #js-share-trigger:before {
    width: 25px;
    height: 25px;
  }

  #js-toggle-speaker{
    width: 55px;
    height: 55px;
  }

  #js-toggle-speaker:before {
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-top: 4px;
  }

  #js-toggle-speaker_OFF{
    display: inline-block;
    text-decoration: none;
    background: #E26522;
    color: #FFF;
    width: 55px;
    height: 55px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: .4s;
  }
  #js-toggle-speaker_OFF:hover{
    background: #E26522;
  }
  #js-toggle-speaker_OFF:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url("https://kg-alien.s3-ap-northeast-1.amazonaws.com/alien%E3%83%9B%E3%82%99%E3%82%BF%E3%83%B3/%E3%82%B9%E3%83%92%E3%82%9A%E3%83%BC%E3%82%AB%E3%83%BC%E3%82%AA%E3%83%95.svg") no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-left: 4px;
    margin-top: 4px;
  }

  #js-reload-trigger{
    width: 55px;
    height: 55px;
  }

  .button-center{
    text-align: center;
    position: absolute;
    width: 100vw;
    top:37vh;
    z-index: 2;
  }
}
