body {
    background: #3B1D70;
    background-image: url(https://kg-alien.s3-ap-northeast-1.amazonaws.com/%E8%83%8C%E6%99%AF%E7%94%A8%E5%AE%87%E5%AE%99%E4%BA%BA.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: auto 100%;
}
  
img#top_wait{
    width: auto;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 5vh;
}

img#top_wait_pc{
    display: none;
}

div#title_wait{
font-family: 'Megrim', cursive;
font-size: 50px;
font-style: normal;
color: #DB560E;
text-align: center;
}

p#wait_message{
    text-align: center;
    color: #e5e5e5;
}

.grid_layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 4ch;
}

.radio {
    display: none;
}

.radio:checked + .radio_image {
    border: 3px  #DB560E solid;
}

.character {
    position: relative;
    overflow: hidden;
    padding-top: 110%;
    padding-left: 100%;
    height: 20%;
}

.character img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
}

#character1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

#character2 {
    grid-row: 1/2;
    grid-column: 2/3;
}

#character3 {
    grid-row: 2/3;
    grid-column: 1/2;
}   

#character4 {
    grid-row: 2/3;
    grid-column: 2/3;
}

button#calling{
    margin-top:8vh;

    /* ボタン */
    /* width: 298px;
    height: 40px; */
    width: 60vw;
    height: 5vh;
    background: #DB560E;
    border-radius: 20px;

    /* 文字 */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #E5E5E5;
}

#calling:active{
    transform: translateY(4px);
    border-bottom: none;
}

div#makeroom{
    text-align:center;
}

@media screen and (max-width: 414px) and (max-height: 811px){
    .character{
        padding-top: 90%;
        height: 0;
    }

    .grid_layout{
        row-gap: 1ch;
    }

    button#calling{
        margin-top: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    p#wait_message{
        font-size: 35px;
    }

    .character{
        padding-top: 70%;
        height: 0%;
    }

    .grid_layout{
        row-gap: 1ch;
    }

    button#calling{
        font-size: 30px;
        margin-top: 5vh;
        height: 5vh;
        border-radius: 100px;
    }
}

@media screen and (min-width: 1366px){
    body{
        background-position: right bottom;
    }

    img#top_wait{
        display: none;
    }

    img#top_wait_pc{
        display: block;
        width: auto;
        height: 30vh;
        margin : 0 auto;
        margin-top: 5vh;
    }

    p#wait_message{
        text-align: center;
        color: black;
    }

    .balloon{
        display: inline-block;
        position: absolute; 
        top: 10%;
        right: 60%;
        left: 25%;
        padding: 17px 13px;
        border-radius: 12px;
        background:white;
    }

    .balloon::before{
        content: "";
        position: absolute;
        top: 80%;
        right: -24px;
        margin-top: -70px;
        border: 12px solid transparent;
        border-left: 12px solid white;
        z-index: 2;
    }
    
    .character {
        position: relative;
        padding-top: 0;
        padding-left: 0;
        height: 350px;
    }

    .character img{
        width: 200px;
        height: 300px;
    }

    #center_grid{
        text-align: center;
        margin-top: 5vh;
    }

    .grid_layout{
        display: grid;
        grid-template-columns: 250px 250px 250px 250px;
        grid-template-rows: 1fr;
        justify-content: center;
    }

    #character1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    
    #character2 {
        grid-row: 1/2;
        grid-column: 2/3;
    }
    
    #character3 {
        grid-row: 1/2;
        grid-column: 3/4;
    }   
    
    #character4 {
        grid-row: 1/2;
        grid-column: 4/5;
    }

    button#calling{
        width: 30vw;
        margin-top: 5vh;
    }
}