body {
    background: white;
    background-repeat: no-repeat;
    background-position: left bottom;
}
  
img#top_wait{
    font-family: 'bananaslipplus';
    text-align: left;
    height: 20px;
    margin: 50px;
}
p#wait_message{
    font-family: 'bananaslipplus';
    font-weight: bold;
    margin: 35px 20px 10px 25px;
    text-align: left;
    color: gray;
    font-size: 50px;
    letter-spacing: 5px;
}
p#select_message{
    font-family: 'bananaslipplus';
    margin: 45px 0px 20px 35px;
    text-align: left;
    color: gray;
    font-size: 30px;
}
/*3Dモデルデザイン*/
#center_grid{
    text-align: center;
    /* margin-top: 5vh; */
}

.grid_layout {
    display: grid;
    grid-template-columns: 17vw 17vw 17vw 17vw;
    grid-template-rows: 1fr;
    column-gap: 4vw;
    justify-content: center;
    z-index: 30;
}
.radio {
    display: none;
}
.radio:checked + .radio_image {
    border: 3px  #DB560E solid;
}
.character {
    position: relative;
    overflow: hidden;
    height: 40vh;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.205);
    border-radius: 10px;
}
.character img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25vw;
    height: 45vh;
    object-fit: cover;
}
#character1 {
    grid-row: 1/2;
    grid-column: 1/2;
}
#character2 {
    grid-row: 1/2;
    grid-column: 2/3;
}
#character3 {
    grid-row: 1/2;
    grid-column: 3/4;
}   
#character4 {
    grid-row: 1/2;
    grid-column: 4/5;
}

/*画像の土台*/
.box {
    position     : relative;
    margin       : auto;
    top          : 45px;
    width        : 1100px;
    height       : 35px;
}
  .box::after {
    content      : "";
    top          : 0;
    left         : 0;
    position     : absolute;
    width        : 1100px;
    height       : 40px;
    background   : #999999;
    transform    : skewX(-70deg);
    margin-top: 35vh;
}
