body {
    background: #3B1D70;
  }
  
img#top_wait{
width: auto;
height: auto;
display: block;
margin: auto;
margin-top: 10%;

}

div#title_wait{
font-family: 'Megrim', cursive;
font-size: 50px;
font-style: normal;
color: #DB560E;
text-align: center;
}

p#wait_message{
text-align: center;
color: #e5e5e5;
}

/* .flex {
    margin-top: 30%;
    display: flex;
    justify-content: space-between;
} */

.grid_layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 4ch;
}

/* .flex_item {
    flex-basis: 20%;
} */

.radio {
    display: none;
}

.radio + .radio_image {
    border: 3px #ffffff solid;
    background-color: #ffffff;
}

.radio:checked + .radio_image {
    border: 3px  #DB560E solid;
    background-color: #ffeeee;
}

.character {
    position: relative;
    overflow: hidden;
    padding-top: 110%;
    padding-left: 100%;
    /* margin-top: 10%; */
    /* margin-bottom: 20%; */
    /* width: 100%; */
    height: 20%;
}

.character img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 90%;
    object-fit: cover;
    border-radius: 30px;
}

#character1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

#character2 {
    grid-row: 1/2;
    grid-column: 2/3;
}

#character3 {
    grid-row: 2/3;
    grid-column: 1/2;
}   

#character4 {
    grid-row: 2/3;
    grid-column: 2/3;
}

button#calling{
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* ボタン */
    /* width: 298px;
    height: 40px; */
    width: 70%;
    height: 5%;
    /* margin: 20px; */
    background: #DB560E;
    border-radius: 20px;

    /* 文字 */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #E5E5E5;
}

div#makeroom{
    text-align:center;
}

@media screen and (max-width: 414px) and (max-height: 811px){
    .character{
        padding-top: 90%;
        height: 0%;
    }

    .grid_layout{
        row-gap: 1ch;
    }
}